
/* // 
//  Master Tab Styles
//  */
.onboarding-slide {
    height: 500px;
    width: 960px;
    position: relative;
    overflow: hidden;
}


/* // 
//  Tab 1 - Welcome Screen
//  */

.welcome-screen {
    background-color: #1e88e5;        
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-screen--sprout-animation{
    display: block;
    position: relative;
    width: 196px;
    height: 250px;
    /* background-color: red; */
}

.welcome-screen--sprout-animation--dollar{
    position: absolute;
    top: 130px;
    left: 0;
}

.welcome-screen--sprout-animation--leaf-container{
    position: relative;
    top: 0;
    left: 0;
}

.welcome-screen--sprout-animation--mask{
    position: absolute;
    top: 138px;
    left: 0;
}

.welcome-screen--sprout-animation--leaf{
    position: absolute;
    top: 9px;
    left: 36px;
}

/* Sprout Animation */
.welcome-screen--sprout-animation--leaf{
    animation: -sprout-animation--leaf linear 6s;
    animation-iteration-count: 1;
    transform-origin: 50% 70%;
    animation-fill-mode:forwards; /*when the spec is finished*/
}

@keyframes -sprout-animation--leaf{
    0% {
        transform:  translate(0px,23px)  rotate(0deg) ;
    }
    50% {
        transform:  translate(0px,12px)  rotate(1.8deg) ;
    }
    80% {
        transform:  translate(0px,6px)  rotate(0.4deg) ;
    }
    88% {
        transform:  translate(0px,3px)  rotate(0deg) ;
    }
    100% {
        transform:  translate(0px,0px)  rotate(0deg) ;
    }
}